<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vpdt.vpdt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/vpdt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vpdt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.SearchActivity"></activity>
        <activity android:name=".ui.activity.VanBanDonViCapHai.TTVBDetailVanBanChoXuLyGQActivity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoXuLyVBChuTriLV5Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanPhoiHopChoXuLyLV4Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoXuLyVBPhoiHopLV4Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoXuLyVBChuTriLV4Activity" />
        <activity android:name=".ui.activity.VanBanDiDonViCapHai.NDVBDanhSachVanBanCuaPhongLV3Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBDanhSachVanBanPhongChuTriLV3Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoDuyetLV3Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoXuLyVBPhoiHopLV3Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoXuLyVBChuTriLV3Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanDaChiDaoPhongChuaXuLyLV2Activity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoChiDaoLV2Activity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiPhoiHopDaXuLyTPCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDanhSachDauViecDaChiDaoTruongPhongPhoiHopTPCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDanhSachPhongPhoiHopDaChiDaoTPCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDanhSachPhongChuTriDaChiDaoChuaHTTPCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecTruongPhongPhoiHopPhongCTTPCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongPhoiHopChoXuLyTPCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongChuTriChoXuLyTPCCActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDeXuatCongViecPhoiHopChoDuyetCCActivity" />
        <activity android:name=".ui.activity.VanBanDiDonViCapHai.NDVBDanhSachVanBanDiActivity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanDaChiDaoPhongChuaXuLyActivity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBVanBanChoChiDaoActivity" />
        <activity android:name=".ui.activity.VanBanDonViCapHai.NDVBDanhSachVanBanTongTheActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDSDauViecPhongPhoiHopDaXuLyCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDSDauViecPhongChuTriDaXuLyCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongPhoiHopChoXuLyCCActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.ChiTietDauViecPhongPhoiHopChoXuLyCVPHActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongChuTriChoXuLyCCActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBVanBanCHuTriDaXuLyCCActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBVanBanChuTriChoXuLyCCActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.GiayMoiDaXuLyCCActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanDaChiDaoSTCPhoiHopActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBSoLuongVanBanGiaoChiCucPhoChuTriActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanDaChiDaoChuaHTActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhongChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.TraoDoiThongTinNoiBo.ChuyenTiepActivity" />
        <activity android:name=".ui.activity.TraoDoiThongTinNoiBo.SoanThaoThongTinActivity" />
        <activity android:name=".ui.activity.TraoDoiThongTinNoiBo.TTVBThongTinDaXemActivity" />
        <activity android:name=".ui.activity.TraoDoiThongTinNoiBo.TTVBThongTinDaGuiActivity" />
        <activity android:name=".ui.activity.TraoDoiThongTinNoiBo.TTVBThongTinMoiActivity" />
        <activity android:name=".ui.activity.VanBanDen.NDVBDanhSachCongTacDangActivity" />
        <activity android:name=".ui.activity.VanBanDen.VnBanToCongTacActivity" />
        <activity android:name=".ui.activity.VanBanDen.VanBanKhacActivity" />
        <activity android:name=".ui.activity.VanBanDen.VanBanHDNDHaNoiActivity" />
        <activity android:name=".ui.activity.VanBanDen.ThongBaoKetLuanActivity" />
        <activity android:name=".ui.activity.VanBanDen.VanBanUBNDHaNoiActivity" />
        <activity android:name=".ui.activity.VanBanDen.VanBanThanhUyHaNoiActivity" />
        <activity android:name=".ui.activity.VanBanDen.VanBanSTCChuTriActivity" />
        <activity android:name=".ui.activity.VanBanDen.ThongKeVanBanActivity" />
        <activity android:name=".ui.activity.VanBanDen.BaoCaoDauCongViecCaNhanActivity" />
        <activity android:name=".ui.activity.VanBanDen.ChiTietInSoLuuTruVanBanDenActivity" />
        <activity android:name=".ui.activity.VanBanDen.TTVBBaoCaoTongHopActivity" />
        <activity android:name=".ui.activity.VanBanDen.ClickVanBanThongKeVBTheoLDCDActivity" />
        <activity android:name=".ui.activity.VanBanDen.ClickThongKeVBTheoLDChiDaoActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.ChiTietDauViecChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NoiDungDauViecPhongChuTriChuyenVienChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NoiDungDauViecHoanThanhBiTraLaiActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NoiDungDauViecPhongPhoiHopDaXuLyPhoPhongPhoiHopActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NoiDungDauViecPhongPhoiHopChoXuLyPhoPhongPhoiHopActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NoiDungDauViecPhongChuTriChoXuLyPhoPhongPhoiHopActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecHoanThanhChoLanhDaoPhongDuyetActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDanhSachDauViecPhongChuTriActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDanhSachDauViecPhongPhoiHopActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongPhoiHopDaChiDaoChuaHTActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongChuTriDaChiDaoChuaHTActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecPhongChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDanhSachDauViecQuaHanCuaPhongActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDeXuatGiaHanDaXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.TTVBDeXuatGiaHanChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDSDVDeXuatGiaHanChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecDaXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.TTVBDauViecChoXuLyActivity" />
        <activity android:name=".ui.activity.QuanLyDauViec.NDVBDauViecChoXuLyActivity" />
        <activity android:name=".ui.activity.VanBanDi.SuaVanBanChoSoCuaSoActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBVanBanChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.VanBanDi.TTVB_DanhSachVanBanCuaPhongActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVB_DanhSachVanBanCuaPhongActivity" />
        <activity android:name=".ui.activity.VanBanDi.TTVBDanhSachGiayMoiCuaPhongActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBDanhSachGiayMoiCuaPhongActivity" />
        <activity android:name=".ui.activity.VanBanDi.TTVBDSVBChoSoCuaSoActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBDSVBChoSoCuaSoActivity" />
        <activity android:name=".ui.activity.VanBanDi.ChiTietInSoLuuTruVanBanActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBVanBanChuTriDaXuLyActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBDSGiayMoiCuaSoActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBDSVBCuaSoActivity" />
        <activity android:name=".ui.activity.VanBanDi.TTVBVanBanXemDeBietActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBVanBanXemDeBietActivity" />
        <activity android:name=".ui.activity.VanBanDi.TTVBVanBanTrinhKyActivity" />
        <activity android:name=".ui.activity.VanBanDi.NDVBVanBanTrinhKyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiChoPhanLoaiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiChoPhanLoaiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiDaPhanLoaiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiPhoiHopTraLaiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiGiaoPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.ThongTinGiayMoiDaXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiDaXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiGiaoChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiPhoPhongPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NoiDungGiayMoiChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.SoanBaoCaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBBaoCaoCuocHopChoPheDuyetActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBBaoCaoCuocHopChoPheDuyetActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiDaHoanThanhChoLanhDaoPheDuyetActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiGiaoPhongPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiGiaoPhongPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiGiaoPhongChuTriDaHoanThanhActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiGiaoPhongChuTriDaHoanThanhActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiGiaoPhongChuTriDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiGiaoPhongChuTriDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiPhongPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiPhongChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiPhongChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBBaoCaoKetQuaCuocHopMoiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBBaoCaoKetQuaCuocHopDaXemActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBBaoCaoKetQuaCuocHopMoiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBBaoCaoKetQuaCuocHopDaGuiDiActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBDSGiayMoiDenCuaSoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBDanhSachGiayMoiDenCuaSoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiLanhDaoDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.TTVBGiayMoiChoLDXLActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.NDVBGiayMoiChoLDXLActivity" />
        <activity android:name=".ui.activity.XuLyGiayMoi.ThongTinGiayMoiXemDeBietActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NoiDungVanBanChuTriChoXuLyChuyenVienActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDSVBDenChoLDXLPhoGiamDocActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanCacPhongChuyenLaiActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBPhanLoaiVanBanCongTacDangActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBPhanLoaiVanBanActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NoiDungVanBanDaPhanLoaiActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanHoanThanhDaDuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoiHopChoXuLyChuyenVienActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanNguoiDungPhoiHopXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanNguoiDungXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoiHopDaChiDaoPhoPhongActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanSTCPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoPhongBietDeDonDocActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoPhongPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBVanBanChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanChuTriChoXuLyXLVBActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBSoLuongVanBanGiaoPhongPhoiHop1Activity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBSoLuongVanBanGiaoPhongChuTri1Activity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBCongViecPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBCongViecPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBDeXuatCongViecPhoiHopChoDuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDeXuatCongViecPhoiHopChoDuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBSoLuongVanBanGiaoPhongPhoiHopActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBSoLuongVanBanGiaoPhongChuTriActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBSoLuongVanBanGiaoPhongChuTriActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVB_DSVBDaDeXuatGiaHanGiaiQuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_DSVBDaDeXuatGiaHanGiaiQuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBDuyetDSVBGiaHanGiaiQuyetTruongPhongActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDuyetDSVBGiaHanGiaiQuyetTruongPhongActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBVanBanPhoiHopTraLaiActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoiHopTraLaiActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVB_DSVBDaHoanThanhChoLDPhongPheDuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_DSVBDaHoanThanhChoLDPhongPheDuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBVanBanPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVanBanPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVBSTCPhoiHopDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBVBPhongCHuTriDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBVBPhongChuTriDaChiDaoActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBVanBanCongTacDangChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_VB_CongTacDangChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVB_VBGiaoPhongPhoiHopXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_VBGiaoPhongPhoiHopChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBGiaoPhongChuTriChoXuLyActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.ChiTietBietDeDonDocActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_DSVB_QuaHanCuaPhongActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.ThongTinBietDeDonDocActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.ThongTinXemDeBietActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDSVBCongTacDangChoLDXLActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBTongSoLuongDonThuActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDuyetDSVBGiaHanGiaiQuyetActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDSVBDaChiDao2Activity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVBDSVBDenChoLDXLActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.TTVBDSVBQuaHanActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_TongSoLuongToCongtac" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_DSVB_QuanTrong" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_DSVB_QuaHanActivity" />
        <activity android:name=".ui.activity.XuLyVanBan.NDVB_DSVB_DaChiDaoActivity" />
        <activity android:name=".ui.activity.ThongBaoActivity" />
        <activity android:name=".ui.activity.DoiMatKhau" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.MainActivity"/>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".util.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".util.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>